
.order-modal-container{
position:relative;
height:465px;
display:flex;
flex-flow: column;
justify-content: space-evenly;
}
.modal-header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: #603813;
    color:whitesmoke;
}
.quantity-input{
    border-radius: 40px;

}

.modal-actions{
    display:flex;
    flex-flow: row;
    justify-content: center;
}
.order-close{
    background-color: transparent;
    color: whitesmoke;
    outline: whitesmoke 4px solid;
    border:none;
    font-size: inherit;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
}