.Orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
.Orders p {
    font-weight: bold;
    font-family: "-apple-system";
    font-size: large;
}
.order-btns{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    
}