
.login-header{
    display:flex;
    flex-direction: row-reverse;
    background: #603813;
    margin-bottom: 1rem;
}
.login-header button{
    background-color: transparent;
    color: whitesmoke;
    outline: whitesmoke 4px solid;
    border:none;
    font-size: inherit;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
}
.form-control label,
.form-control input{
    display: block;
    min-width: 65%;
    margin-left: 16px;
}

.form-control input {
    font: inherit;
    font-size: large;
    padding: 0.1rem 0.25rem;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
  }

.form-actions{
    display: flex;
    justify-content: flex-end;
}