.table-container {
    min-width: 650px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    padding: 8px;
}
.order-table{
    background: #D0D0D0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-spacing: 0;
    -webkit-border-vertical-spacing: 2px;
    width: 400px;
}

.order-header-rows{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background: whitesmoke;
    font-family: sans-serif;
    height: 50px;
}
.order-rows{
    font-family:'Open Sans';
    box-sizing: border-box;
    text-align: center;
    background: whitesmoke;
    height: 100px;
}

